<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!link rel=stylesheet type=text/css href="style.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=410, initial-scale=0.90">
  </head>
  <body>
      <div class="container">
        <div class="content">
        <h1>ABOUT RESOURCES</h1>
        <h2>for This Demo on Pied Piper Training</h2>
        <h3>More about Dell EMC ECS Object Platform</h3>
        <a href="https://www.dellemc.com/en-sg/storage/ecs/index.htm#collapse">
           <img src="{{ url_for('static', filename='logo.png') }}" width="270" >
        </a>
        <hr>
        <h3>More about Pivotal Cloud Foundry</h3>
        <a href="https://pivotal.io/platform">
           <img src="{{ url_for('static', filename='pcf.png') }}" width="270" >
        </a>
        <hr>
        <h3>Developed as result of PiedPiper Movement Training</h3>
        <h4>At Wave2@November26-29, 2019</h4>
        <img src="{{ url_for('static', filename='PiedPiper.png') }}" width="270" >
     </div>
  </body>
</html>
